/***************************************/
/*                Intro                */
/***************************************/

/* Section Introduction */
#intro p {
    font-size: 1.2rem;
    color: var(--page-color);
}


/***************************************/
/*             Compétences             */
/***************************************/
#skills table {
    margin: 0 auto; /* Centrer horizontalement en fonction de sa largeur */
    min-width: 500px;
}

#skills td {
    padding: 10px;
    text-align: left;
}

#skills td:nth-child(1) {
    /* Première cellule de chaque ligne */
    text-align: right;
    font-weight: bold;
    min-width: 200px;
    max-width: 25%;
}

/***************************************/
/*              Portfolio              */
/***************************************/
/* Section Portfolio */
.project-gallery {
    /* On reset le ul/li (suppression puce + espacements) */
    list-style: none;
    margin: 0;
    padding: 0;

    /* On fixe la largeur max de la gallery (on reste centré) */
    max-width: 1800px;
    margin: 0 auto;
    
    /* On utilise la "grid" pour la mise en place */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 1em;
}

.project {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;

    /* Durée d'animation pour le "transform" */
    transform-origin: center center;
    transition: transform 0.3s;
}

.project h1 {
    margin-top: 15px;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.project:hover {
    transform: scale(1.05);
    animation: shake 0.3s ease-in-out;

}

.project p {
    font-size: 1rem;
}

.project a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}



/***************************************/
/*               Contact               */
/***************************************/
#contact form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#contact form label {
    font-size: 1.1rem;
    color: var(--header-footer-background);
    margin-bottom: 8px;
    display: block;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#contact form textarea {
    resize: vertical;
}

#contact form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}



/***************************************/
/*                Footer               */
/***************************************/
footer {
    background-color: var(--header-footer-background);
    color: var(--header-footer-color);
    padding: 15px 0;
}

footer p {
    margin: 0;
}



/***************************************/
/*            Responsivité             */
/***************************************/
@media (min-width: 700px) {
    .project-gallery {
        /* Affichage de 2 projets sur la même ligne */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1100px) {
    .project-gallery {
        /* Affichage de 3 projets sur la même ligne */
        grid-template-columns: repeat(3, 1fr);
    }
}



/***************************************/
/*             Animations              */
/***************************************/
@keyframes shake {
    0% { transform: rotate(0deg); }
    /* 10%, 30%, 50%, 70%, 90% { transform: rotate(-2deg); }
    20%, 40%, 60%, 80% { transform: rotate(2deg); } */
    20%, 60% { transform: rotate(-2deg); }
    40%, 80% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

