<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div>
    <label  [class.label-invalide]="libelleCtrl.invalid && libelleCtrl.touched">Libellé</label>
    <input type="text" name="libelle" [(ngModel)]="model.libelle" 
      required minlength="5" maxlength="20" 
      [class.input-invalide]="libelleCtrl.invalid && libelleCtrl.touched"
      appLibelleUniqueValidator
      #libelleCtrl="ngModel" /> <!-- Requis pour pouvoir vérifier la validité de ce champ -->

    <!-- MESSAGES D’ERREUR -->
    @if (libelleCtrl.invalid && libelleCtrl.touched) {
      <div class="msg-erreur">

        @if (libelleCtrl.errors?.['required']) {
          <div>Le libellé est obligatoire.</div>
        }

        @if (libelleCtrl.errors?.['minlength']) {
          <div>Le libellé doit contenir au moins 5 caractères.</div>
        }

        @if (libelleCtrl.errors?.['maxlength']) {
          <div>Le libellé ne peut pas dépasser 20 caractères.</div>
        }
        @if (libelleCtrl.errors?.['libelleExiste']) {
          <div class="msg-erreur">Ce libellé existe déjà.</div>
        }

      </div>
    }
  </div>

  <div>
    <label>Terminé</label>
    <input type="checkbox" name="done" [(ngModel)]="model.done" />
  </div>

  <button type="submit" [disabled]="form.invalid">Ajouter</button>
</form>
